# تجاهل كاش وتجميع بايثون
__pycache__/
*.py[cod]

# تتبّع الهجرات (لا تتجاهلها)
# ← لا تضع سطرًا مثل **/migrations/*.py
# ← اسمح للهجرات بالظهور في Git

# لكن تجاهل كاش داخل الهجرات
**/migrations/__pycache__/
